src/main/mule/batch-job-aggregates.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="batch-job-aggregate" doc:id="5243d519-007e-4f80-a3c6-0ce36a2688d6">
		<scheduler doc:name="Scheduler" doc:id="255d5d46-7f71-4d05-9465-60e307b2d1a1" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value="#[[1,2,3,4,5,6]]" doc:name="[1,2,3,4,5,6]" doc:id="eccecbd0-a5a1-4e51-a2a5-6f7a44bff69b" />
		<batch:job jobName="Batch_JobBatch_Job_aggregate" doc:id="87ed3769-2bb2-46db-a6cc-518f3833b2f7" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="d521cb27-e1b1-4be8-9789-971daa8684a6" acceptExpression="#[(payload mod 2) == 0]">
					<ee:transform doc:name="Multiple by 10" doc:id="09761fcd-30e9-416d-b425-5478d384d870" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload * 10]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator_2" doc:id="50b1ac0e-f5d5-4ef8-8d97-eaf1c3127b9c" size="2">
						<logger level="INFO" doc:name="payload" doc:id="aa5ade3d-1063-41c5-aeff-b817f1f63705" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
