src/main/mule/batch-job-on-complete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="e86d8515-6f39-4b31-a573-378449c98bdf" />
	<flow name="batch-job-on-complete" doc:id="5243d519-007e-4f80-a3c6-0ce36a2688d6">
		<scheduler doc:name="Scheduler" doc:id="255d5d46-7f71-4d05-9465-60e307b2d1a1" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value="#[[1,2,3]]" doc:name="[1,2,3]" doc:id="eccecbd0-a5a1-4e51-a2a5-6f7a44bff69b" />
		<batch:job jobName="Batch_JobBatch_Job" doc:id="87ed3769-2bb2-46db-a6cc-518f3833b2f7" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="d521cb27-e1b1-4be8-9789-971daa8684a6">
					<set-payload value='#["StepOne" ++ payload]' doc:name='"StepOne" ++ payload' doc:id="87083830-e899-4307-9bd9-2732d7cd60a7" />
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="62fdbf95-7354-4ff3-b08c-ecfd53161b9a" >
					<set-payload value='#["StepTwo" ++ payload]' doc:name='"StepTwo" ++ payload' doc:id="7b127606-f0cf-4e31-8e53-170d67f11b51" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="payload" doc:id="fde83008-aca1-4b3d-b76f-7b5cd641a059" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
