src/main/mule/flow-reference-child-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="flow-reference-child-flow" doc:id="e5b55015-2c71-471c-bbac-be1d731e275f" >
		<http:listener doc:name="HTTP: GET /test6" doc:id="dadca5a5-1885-4806-93a7-37004c3a7862" config-ref="HTTP_Listener_config" path="/test6"/>
		<set-payload value='#["Customer10"]' doc:name='"Customer10"' doc:id="c8635e0a-01a9-4ab8-a419-3c61c12d3f66" />
		<set-variable value="1" doc:name="quantity to 1" doc:id="ca65db2a-7e4c-4c10-86e0-b39a102bc64a" variableName="quantity"/>
		<flow-ref doc:name="child" doc:id="7b258570-8e4e-4c2a-be3c-60aea6ebc0ce" name="child"/>
	</flow>
	<flow name="child" doc:id="184c0286-ff32-4fc7-8c17-8ebaf9a16a92" >
		<logger level="INFO" doc:name="payload" doc:id="a7e8bb43-3a90-430a-af0e-d4fab7af9bf8" message="#[payload]"/>
	</flow>
</mule>
